<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

    <div class="card ">
        <div class="card-header text-end">
            <h5 class="card-title text-center">
                Result Management System
                <div class="text-end">
                    <a href="/logout" class="btn btn-primary">Logout</a>
                </div>
            </h5>

        </div>
    </div>

    <div class="card-body">
        <h5 class="card-title" style="text-align: center;">
            Student Records &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/add" class="btn btn-primary">Add a record</a>

        </h5>
        <table class="table table-light table-hover table-bordered">
            <caption style="text-align: center;"></caption>
            <thead>
                <tr>
                    <th scope="col">Roll No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Score</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>

                <% for(var i=0; i < data.length; i++) {%>
                    <tr>
                        <td>
                            <%= data[i].rollNo%>
                        </td>
                        <td>
                            <%= data[i].name%>
                        </td>
                        <td>
                            <%= data[i].dateOfBirth%>
                        </td>
                        <td>
                            <%= data[i].score%>
                        </td>


                        <td>

                            <!-- <a href="editBook?parameter=${item.getBookCode()}" class="btn btn-primary badge bg-light text-dark rounded-pill float-right" style="width: 80px;">EDIT </a>

                            <a href="deleteBook?param=${item.getBookCode()}" class="btn btn-danger badge bg-light text-dark rounded-pill float-right" style="width: 80px;">DELETE</a> -->
                            <a href="/edit/<%=data[i].rollNo%>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                              </svg> </a> &nbsp &nbsp &nbsp &nbsp
                            <a href="/delete/<%=data[i].rollNo%>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                               </svg> </a>
                        </td>
                    </tr>

                    <%}%>


            </tbody>
        </table>
    </div>
    </div>
    </div>

</body>

</html>